<li class="list-group-item list-group-item-dark d-flex font-weight-bold">
	<span class="align-self-center">{{id}}. {{burger_name}}</span>
	<button type="button" class="updateBurger btn btn-secondary ml-auto font-weight-bold" data-id="{{id}}" data-newDevouredState="{{devoured}}" data-burgerName="{{burger_name}}">
		{{#if devoured}}DEVOUR IT!{{else}}MAKE ME ANOTHER!{{/if}}
	</button>
</li>
